<ion-header [translucent]="true">
   
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
      <strong>Bienvenido</strong>
      <p>Thais <a target="_blank" rel="noopener noreferrer" href=></a></p>
<br>
<br>
<br>
<br>
<br>
<br>
      <ion-button [routerLink]="['/iniciarseccion']" color="medium">Inicia tu viaje</ion-button>

    </div>



  </ion-content>